.container{
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.maincontent{
  margin-top: 100px;
  width: 100vw;
  height: calc(100vh - 100px);
  overflow-y: auto;
  position: relative;
}
.posts{
  display: flex;
  flex-direction: column;
  gap:2rem;
  padding:0 1.5rem;
}
.heading{
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.impression img{
  width: 40px; 
}

@media (max-width:1024px){
  .heading{
      font-size: 2rem;
  }
  
  .impression img{
      width: 35px; 
  }
}

@media (max-width:768px){
  .heading{
      font-size: 1.75rem;
  }
  
  .impression img{
      width: 30px; 
  }
}

@media (max-width:520px){
  .heading{
      font-size: 1.4rem; 
  }
  
  .impression img{
      width: 25px; 
  }
}
