.container {
    display: flex;
    border-radius: 15px;
    background-color: rgba(87, 87, 87, 0.151);
    height: 300px;
    max-height: 300px;
    position: relative;
    cursor: pointer;
}
.deleteicon{
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}
.deleteicon:hover{
    transform: scale(1.5);
}
.thumbnail {
    height: 100%;
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.impression {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.impression img {
    width: 50px;
}
.impressions{
    color: white;
    font-size: 2rem;
    font-weight:600;
}
.postInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.6rem 1rem;
}

.headingcontainer {
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 1.8rem; /* Decreased font size */
    font-weight: 600;
    margin-right: 0.55rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info {
    font-size: 1.5rem; /* Decreased font size */
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.createdby {
    font-size: 1.8rem; /* Decreased font size */
    font-weight: 600;
}
.popupContainer {
    display: flex;
    flex-direction: column;
    gap:20px;
    font-family: 'Poppins',sans-serif;
}
.messageContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.1rem;
    color: rgba(71, 68, 68, 1);
    font-family: 'Poppins',sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.buttonContainer{
    display: flex;
    gap:2.4rem;
    justify-content: center;
}
.confirmButton{
    width: 130px;
    height: 25px;
    border: none;
    border-radius: 8px;
    font-family: 'Poppins',sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    color:rgba(255, 255, 255, 1) ;
    background-color: rgba(255, 75, 75, 1);
    cursor: pointer;
}
.cancelButton{
    width: 130px;
    height: 25px;
    border: none;
    border-radius: 8px;
     font-family: 'Poppins',sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    color:rgba(71, 68, 68, 1);
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
@media (max-width: 1024px) {
    .container {
        height: 250px;
    }

    .thumbnail {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
    }

    .heading {
        font-size: 1.6rem; /* Decreased font size */
    }

    .info {
        font-size: 1.4rem; /* Decreased font size */
        -webkit-line-clamp: 3;
         line-clamp: 3;
    }

    .createdby {
        font-size: 1.6rem; /* Decreased font size */
    }
    .impressions{
 
        font-size: 1.7rem;
        
    }
}

@media (max-width: 768px) {
    .container {
        height: 230px;
    }

    .thumbnail {
        width: 270px;
        min-width: 270px;
        max-width: 270px;
    }

    .heading {
        font-size: 1.5rem; /* Decreased font size */
    }

    .info {
        font-size: 1.3rem; /* Decreased font size */
        -webkit-line-clamp: 2;
         line-clamp: 2;
    }

    .createdby {
        font-size: 1.5rem; /* Decreased font size */
    }
    .impressions{
 
        font-size: 1.5rem;
        
    }
}

@media (max-width: 600px) {
    .container {
        height: 200px;
    }

    .thumbnail {
        width: 230px;
        min-width: 230px;
        max-width: 230px;
    }

    .heading {
        font-size: 1.4rem; /* Decreased font size */
    }

    .info {
        font-size: 1.2rem; /* Decreased font size */
    }

    .createdby {
        font-size: 1.4rem; /* Decreased font size */
    }
    .impressions{
 
        font-size: 1.4rem;
        
    }
}

@media (max-width: 500px) {
    .container {
        height: 150px;
    }

    .thumbnail {
        width: 170px;
        min-width: 170px;
        max-width: 170px;
    }

    .heading {
        font-size: 1.2rem; /* Decreased font size */
    }

    .info {
        font-size: 0.9rem; /* Decreased font size */
    }

    .createdby {
        font-size: 1.1rem; /* Decreased font size */
    }
    .impressions{
 
        font-size: 1.3rem;
        
    }
}

.container::before {
    content: "";
    font-size: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.158);
    border-radius: 14px;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    text-align: center;
    padding: 20px;
}

.container:hover::before {
    opacity: 1;
}
